/* ================ home =================*/
header .jumbotron {
  background: url(../images/bg_header.jpg) no-repeat center;
  height: 800px;
  background-size: 100% 100%;
  color: #fff; }
  header .jumbotron h1 {
    width: 550px;
    margin-top: 60px;
    margin-left: 300px;
    font-size: 50px; }
    header .jumbotron h1 span {
      font-weight: bold; }
  header .jumbotron img {
    width: 300px;
    height: 100px;
    margin-top: -50px;
    margin-left: -170px; }

.text-center p {
  font-size: 15px;
  opacity: 0.8;
  width: 470px;
  margin-top: 50px;
  margin-left: 370px; }

.logo {
  color: #000;
  margin-left: 130px;
  margin-top: -80px;
  font-size: 55px; }

.btn1,
.btn2 {
  margin-top: 50px;
  border: none;
  width: 140px;
  height: 55px;
  color: #fff; }

.btn1 {
  margin-left: 460px;
  background-color: #36c4c5; }

.btn2 {
  background-color: #f52257; }

/*================ features ================*/
#features {
  margin-left: 219px; }
  #features h2 {
    color: #50554f; }
  #features p {
    color: #5767b5;
    width: 300px;
    padding-top: 20px; }

.fa-pencil,
.fa-camera,
.fa-bookmark-o {
  margin-left: 100px;
  color: #50554f; }

/*============== about ======================*/
#about {
  background: url(../images/bg_nuage.jpg);
  width: auto;
  height: 840px;
  background-size: 100%; }

.ligula {
  opacity: 0.7;
  color: #fff;
  margin-left: 700px;
  padding-left: 63px;
  background: #a2d5e6;
  width: 580px;
  height: 820px; }
  .ligula h3 {
    padding-top: 86px;
    width: 270px; }
  .ligula p {
    width: 400px;
    padding-top: 55px;
    font-size: 15px; }

.ultricies {
  border: 1px solid #fff; }

.ferm {
  border: 1px solid #fff; }

/*=============== blog ================= */
.media-body {
  padding-top: 82px;
  padding-left: 500px; }

.media-object {
  width: 460px;
  height: 460px;
  margin-right: 50px;
  margin-top: 36px; }

.media-heading {
  width: 400px;
  font-size: 24px; }

.btn3 {
  border: none;
  width: 130px;
  height: 37px;
  background-color: #f52257;
  color: #fff; }

.fa-arrow-circle-o-right {
  margin-left: 10px; }

#blog h3 {
  width: 300px;
  color: #515757; }
#blog p {
  color: #515757;
  font-size: 13px;
  width: 490px; }

/* ============= History ===============*/
#history {
  background: url(../images/bg_appareil_photo.jpg);
  height: 654px;
  background-size: 100% 100%; }
  #history p {
    margin-left: 212px;
    background-color: #a2d5e6;
    opacity: 0.8;
    width: 450px;
    height: 654px;
    text-align: center;
    color: #fff; }

.donecsed {
  padding-top: 54px;
  font-style: italic;
  font-size: 21px; }

.littlep {
  font-style: italic;
  font-size: 14px; }

/*============== Photos ==============*/
/* =============== Contact ================*/
#contact {
  background: transparent url(../images/bg_newsletter.jpg);
  opacity: 0.4;
  width: auto;
  height: 475px;
  background-size: 100% 100%;
  padding-left: 219px;
  padding-top: 85px;
  color: #fff; }
  #contact h4 {
    width: 329px; }
  #contact p {
    width: 629px; }

.btn4 {
  border: none;
  width: 140px;
  height: 37px;
  background-color: #f52257; }

/* footer */
footer {
  background: #24323b;
  height: 189px; }
  footer h4,
  footer p {
    width: 550px;
    margin-left: 200px;
    padding-top: 52px;
    color: #fff; }
  footer span {
    color: #32bdc0; }
  footer .typcn-social-facebook-circular,
  footer .typcn-social-twitter-circular {
    color: #32bdc0; }

/*# sourceMappingURL=custom.css.map */
