/* ================ home =========================*/
header {
   
.jumbotron {
   background:url(../images/bg_header.jpg) no-repeat center center;
       height: 800px;
       background-size:100% 100%;
       color: #fff;
h1{
    width: 550px;
    
    margin-left: 360px;
     span {        
        font-weight: bold;
     }
    
    
 }

}
}
.text-center {
    p {
        font-size: 13px; // ne prend pas effet a cause du jumbotron p (vu dans l'inspecteur)
    }
}
.logo {
    color :#000;    
    margin-left: 380px;
    margin-top: -60px;
    font-size: 25px; // ne prend pas effet a cause du jumbotron p (vu dans l'inspecteur)
}

.btn1,.btn2{
    
    border: none;
    width: 140px;
    height: 55px;
    color:#fff;
}

.btn1 {
    margin-left:460px;
    background-color: #36c4c5;
}
.btn2 {
     background-color:#f52257;
}
/* features */
#features {
    margin-left: 219px;
     h2 {
         color:#50554f;     
     }
      p {
         
         color: #5767b5;
         width: 230px;
     }
     
}
.fa-pencil,.fa-camera,.fa-bookmark-o {
    margin-left: 100px;
    color : #50554f;
    
}
/* about */

#about {
    background: url(../images/bg_nuage.jpg);  
    width: auto;
    height: 600px;
    background-size:100% 100%;   
}
 .ligula {
        opacity: .8; 
        color:#fff;
        margin-left:700px;
        padding-left: 63px;
        background: #a2d5e6;
        width : 584px;
        height: 600px;
        h3 {
            padding-top: 86px;
            width: 270px;
        }
        p{
            padding-top: 55px;
            font-size: 15px;
        }
       
    }


/* blog */
.girl {
    width: 454px;
    height: 300px;
    float:right;
    
}
.btn3 {
     border: none;
    width: 130px;
    height: 37px;
    background-color: #f52257;
    color:#fff;
}
#blog {
    h3 {
        width: 300px;
        color : #515757;
    }
    p {
        color : #515757;
        font-size: 13px;
        width: 490px;
    }


}
/* ========== History ===============*/

#history{
    background: url(../images/bg_appareil_photo.jpg);
    height: 654px;
    background-size:100% 100%;
    p {
        background-color: #a2d5e6;
        color:#fff;
        width: 450px;
        height: 654px;
    }    
}

.littlep {
    font-size: 14px;
}
/* Photos */
/* Partneaires*/

/* =============== Contact ================*/

 #contact {
     background: transparent url(../images/bg_newsletter.jpg);
     // filter: blur(10px);
     width: auto;
     height: 475px;
     background-size:100% 100%;
    padding-left : 219px;
    padding-top : 85px;
    color : #fff;
        h4 {
            width:329px;
        }
        p{
            width: 629px;
        }
}

.btn4 {
    border: none;
    width: 140px;
    height: 37px;
    background-color : #f52257;
    
}

/* footer */

footer {
    background: #24323b;
    height: 189px;
    
    h4,p {
        color: #fff;
    }
    span {
        color:#32bdc0;
    }
}